<a class="show_menu" href="#"><img src="/images/mobile_menu_open.png" alt="" title="" /></a>
<a class="hide_menu" href="#"><img src="/images/mobile_menu_close.png" alt="" title="" /></a>

<nav class="menu">                                                                   
    <ul id="main_menu">
        <li><a href="/index.html">ALEXANDRA ET CHRISTOPHE</a></li>
        <li><a href="/castle">AU CHATEAU DE MONTETON</a></li>
        <li><a class="selected" href="/guests/new">CONFIRMEZ VOTRE PRESENCE</a></li>
        <!--li><a href="contact.html">GET IN TOUCH</a></li--> 
    </ul>
</nav>
