  <div class="title_container">
   
       <div class="title_front">NOUS ALLONS NOUS DIRE OUI !</div>
       <div class="love_birds"><img src="/images/birds_icon.png" alt="" title=""/></div>
       <div class="title">Alexandra <span>&amp;</span> Christophe</div>
       <div class="title_date"><span class="swirl_left"><span class="swirl_right">25.04.2015</span></span></div>
       <div class="title_under">NOTEZ LA DATE</div>
       
  </div>

  <div class="slider_container">
          <div class="slider_trans_black"></div>
          <div id="random">
              <div style="background-image: url(/images/slider/slide1.jpg);"></div>
              <div style="background-image: url(/images/slider/slide2.jpg);"></div> 
              <div style="background-image: url(/images/slider/slide3.jpg);"></div>                   
          </div>
 </div>
 <div class="countdown_container">
     <h2 class="centered_title">Le compte à rebours est lancé !</h2>
     <div id="defaultCountdown"></div>
     <div class="rsvp_button"><span class="swirl_left_small"><span class="swirl_right_small"><a href="#">RSVP</a></span></span></div>
 </div>

  <div class="about_content">
  <div class="about_topsign">&amp;</div>
   <div class="full_width_centered">
   

             <div class="left12_first">
                 <span class="names_titles">LA FUTURE MARIEE</span>
                 <h2>ALEXANDRA SIMON</h2>
                      <div class="about_pic_container">
                      <span class="about_picframe"></span>
                      <div class="about_social">
                      <a href="#"><img src="/images/social/twitter.png" alt="" title="" /></a>
                      <a href="#"><img src="/images/social/facebook.png" alt="" title="" /></a>
                      <a href="#"><img src="/images/social/pinterest.png" alt="" title="" /></a>
                      </div>
                      <div class="about_pic"><img src="/images/couple/alex_portrait.jpg" alt="" title="" /></div>
                      </div>
                  <a href="#" class="thumb_read_more">A PROPOS D'ALEXANDRA</a>
                 <p>Love is friendship that has caught fire. It is quiet understanding, mutual confidence, <a href="#">sharing and forgiving</a>. It is loyalty through good and bad times. It settles for less than perfection and <strong>makes allowances</strong> for human weaknesses "<a href="#">LOVE QUOTE</a>":</p>
                 <span class="love_quote">Sometimes the heart sees what is invisible to the eye.</span>
                 
             </div>
             <div class="left12_last">
                 <span class="names_titles">LE FUTUR MARI</span>
                 <h2>CHRISTOPHE ROBILLARD</h2>
                      <div class="about_pic_container">
                      <span class="about_picframe"></span>
                      <div class="about_social">
                      <a href="#"><img src="/images/social/twitter.png" alt="" title="" /></a>
                      <a href="#"><img src="/images/social/facebook.png" alt="" title="" /></a>
                      <a href="#"><img src="/images/social/pinterest.png" alt="" title="" /></a>
                      </div>
                      <div class="about_pic"><img src="/images/couple/eplucheorig.jpg" alt="" title="" /></div>
                      </div>
                  <a href="#" class="thumb_read_more">A PROPOS DE CHRISTOPHE</a>
                 <p>I believe that imagination is stronger than knowledge. That myth is more potent than history. That dreams are more powerful than facts. That hope always triumphs over experience. That laughter is the only cure for grief. And I believe that love is stronger than death "<a href="#">LOVE QUOTE</a>":</p>
                 <span class="love_quote">Where there is love there is life.</span>
             </div>
  
        <div class="clear"></div>
      </div>  <!--end of full width-->
    </div> <!--end of about content-->   

<div class="carousel_container"> 
 <div class="carousel_container_image">
   <div class="full_width_carousel">
      <h2>NOS TEMOINS</h2>
      <span class="carousel_titles">BEST MAN &amp; MAID OF HONOR</span>
      <div id="weddingcarousel" class="owl-carousel">
          <div class="left14"><img src="/images/temoins/christophe.jpg" alt="" title="" /><h3>CHRISTOPHE DUARTE</h3></div>
          <div class="left14_last"><img src="/images/temoins/aurelia.jpg" alt="" title="" /><h3>AURELIA FINKELMEYER</h3></div>
          <div class="left14"><img src="/images/temoins/fred.jpg" alt="" title="" /><h3>FREDERIC DESREUMAUX</h3></div>
          <div class="left14_last"><img src="/images/temoins/danette.jpg" alt="" title="" /><h3>DANIELLE SIMONNET</h3></div>
      </div>   
   </div>
  </div> 
</div>
